.error-panel {
  height: calc(100% - 30px);
  width: 240px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  padding: 16px;
  /* transform: translateX(100%); */
  /* transition: transform 200ms ease-in; */
}

.is-visible {
  transform: translateX(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  height: 100%;
  width: 100%;
  animation: fadeIn 250ms;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.name-wrapper {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  margin-bottom: 24px;
}

.name-icon {
  margin: auto;
}

.name-icon img {
  height: 14px;
  width: 14px;
}

.node-name {
  flex: auto;
  margin-bottom: auto;
  margin-left: 12px;
  font-size: 16px;
}

.error-label {
  color: #fe6262;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.error-list {
  margin: 0;
  padding: 0;
}

.error-list-item {
  padding: 16px;
  border: 1px solid #dcddde;
  border-radius: 4px;
  color: #333333;
  margin-bottom: 8px;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  font-size: 14px;
}

.error-type {
  margin-right: 12px;
  align-self: center;
}

.error-description {
  align-self: center;
}

.error-type img {
  height: 14px;
  width: 14px;
}

.context-icon {
  align-self: flex-end;
  margin-left: auto;
  cursor: pointer;
}

.success-message {
  text-align: center;
  font-size: 16px;
}

.success-shape {
  background-color: #f7f7f7;
  border-radius: 80px;
  height: 80px;
  width: 80px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.success-emoji {
  margin: auto;
}

.react-contextmenu {
  background: #2c2c2c;
  border-radius: 4px;
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.11);
  font-size: 12px;
  font-weight: 300;
}

.react-contextmenu-item {
  padding: 8px 32px;
  cursor: pointer;
  background: transparent;
  color: #fff;
  transition: 150ms ease;
}

.react-contextmenu-item:hover {
  background: #18a0fb;
}
