.modal {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  width: 90%;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  cursor: pointer;
  border-radius: 8px;
}

.modal-close:hover {
  background-color: #f9f9f9;
}

.modal-close-icon {
  height: 12px;
  width: 12px;
  opacity: 50%;
}

.modal-title {
  font-size: 11px;
  font-weight: 600;
  color: #111;
  margin-bottom: 4px;
  margin-top: 8px;
}

.modal-subtitle {
  color: #666;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-wrapper {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  text-align: left;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.11);
}

.modal-input {
  width: 100%;
  height: 40px;
  font-size: 11px;
  font-weight: 500;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  line-height: 16px;
  outline-color: #499df6;
}

.modal-button-wrapper {
  display: flex;
  flex-flow: row;
  margin-top: 16px;
  align-items: center;
  justify-content: flex-end;
}

.modal-button {
  font-size: 11px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.modal-cancel {
  color: #666;
  border: 1px solid #666;
  margin-right: 6px;
}

.modal-confirm {
  border: 1px solid #499df6;
  background-color: #499df6;
  color: #fff;
  margin-left: 6px;
}
