.style-list {
  padding: 0 16px 0;
}

.style-item {
  display: flex;
  flex-flow: column;
  margin: 0 0 16px;
  padding: 16px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

.style-item-row {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: flex-start;
  position: relative;
}

.style-item-row:hover .copy-button {
  opacity: 1;
  transform: translateY(0);
}

.style-name {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  color: #2c2c2c;
}

.style-text-image {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  padding: 0 8px 0 0;
}

.style-fill-image {
  flex: 0 0 18px;
  height: 18px;
  width: 18px;
  margin: 0 8px 0 0;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #2c2c2c;
}

.style-description {
  font-size: 12px;
  color: #888;
}

.properties-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.style-properties {
  position: relative;
  display: flex;
  flex-flow: column;
  flex: auto;
  padding: 16px 0 0;
}

.style-properties:hover .copy-button {
  opacity: 1;
  transform: translateY(0);
}

.style-type {
  text-transform: capitalize;
}
