/* Overrides */

.button--flex {
  flex: 1;
}

.button--full {
  width: 100%;
}

button:active,
button:focus {
  outline: none;
}

/* Generic styles */

.button--icon {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: unset;
  cursor: pointer;
  font-size: 18px;
  background: transparent;
}

.button--icon:hover {
  background: #f9f9f9;
}

/* .button--icon:active {
  transform: scale3d(0.9, 0.9, 1);
} */

.settings-checkbox-group {
  display: flex;
  padding-top: 8px;
}

.settings-checkbox-group input {
  margin: 2px 8px 0 0;
}

.settings-button {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.w12 {
  width: 12px;
}

/* Plugin specific styles */

body {
  font: 11px sans-serif;
  font-family: system-ui;
  margin: 0;
  overflow: hidden;
}

#create {
  box-shadow: none;
  background: #18a0fb;
  color: #fff;
}

.page {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: calc(100vh - 46px);
}

.nav {
  padding: 4px 4px 4px 8px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  border-bottom: 1px solid #e5e5e5;
}

.nav-item {
  padding: 8px;
  font-weight: 600;
  font-size: 11px;
  color: #b3b3b3;
  cursor: pointer;
  transition: color 100ms ease-out;
  align-self: center;
}

.nav-icon-wrapper {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  align-content: center;
}

/* Figma icon button override */
.nav .icon--button {
  border: none;
  background-position: 0px 0px;
}

.icon--button:hover {
  background-color: #f9f9f9;
}

.nav-item:hover {
  color: rgba(0, 0, 0, 0.8);
}

.nav-item.active {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.bulk-errors-list {
  height: calc(100vh - 41px);
  flex: 1;
  margin: 0;
  padding: 0;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  position: relative;
}

.list {
  flex: 1;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.list-arrow {
  height: 32px;
  min-width: 16px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
}

.list-arrow-icon {
  opacity: 0;
  width: 6px;
  margin: auto;
  transition: opacity 50ms ease;
  transform: rotate(-90deg);
}

.list-item {
  width: 100%;
  list-style: none;
  padding: 0;
}

.list-item ul {
  display: none;
}

.list-item--selected > .list-flex-row {
  background: #daebf7;
}

.list-item--selected ul {
  background: #edf5fa;
}

.list-item--active > ul {
  display: block;
}

.list-item--active > div > .list-arrow > .list-arrow-icon {
  transform: rotate(0deg);
}

.list-item--active .list-icon {
  opacity: 0.8;
}

.list-flex-row {
  height: 32px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid transparent;
  transition: border-color 100ms ease;
  cursor: pointer;
  position: relative;
}

.auto-fix-content {
  width: 100%;
  display: flex;
  flex-flow: row;
  border: none;
  /* border-top: 1px solid #e5e5e5; */
  padding: 8px 8px 8px 12px;
  margin-top: 12px;
  background: #f9f9f9;
  border-radius: 12px;
}

.suggestion-label {
  width: 100%;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 4px;
  font-weight: 400;
  color: #666;
  font-size: 9px;
}

.auto-fix-suggestion {
  width: 100%;
  display: flex;
  flex-flow: row;
  border: none;
  /* border-top: 1px solid #e5e5e5; */
  padding: 8px 8px 8px 12px;

  background: #f9f9f9;
  border-radius: 12px;
}

.suggestion-last {
  margin-top: 8px;
}

.style-list-item {
  display: flex;
  align-items: center;
}

.style-preview {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.fill-preview {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px inset;
}

.text-preview {
  text-align: center;
}

.text-preview span {
  line-height: 16px;
}

/* .effect-icon {
  
} */

/* .text-preview {
  font-size: 12px;
  line-height: 20px;
} */

.auto-fix-style {
  display: flex;
  flex-flow: column;
  align-self: center;
}

.auto-fix-style-clickable:hover .style-name {
  text-decoration: underline;
  color: #111;
  cursor: pointer;
}

.style-source {
  font-size: 9px;
  font-weight: 400;
  padding-bottom: 4px;
  color: #666666;
}

.style-value {
  font-size: 11px;
  font-weight: 400;
}

.style-name {
  line-height: 16px;
  font-weight: 400;
}

.auto-fix-button {
  outline: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  height: 28px;
  background-color: #18a0fb;
  border: none;
  color: #fff;
  padding: 8px 12px;
  align-self: flex-end;
  margin-left: auto;
  cursor: pointer;
}

.match-button {
  outline: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  height: 28px;
  background-color: #f9f9f9;
  border: 1px solid #666;
  color: #333;
  padding: 8px 12px;
  align-self: flex-end;
  margin-left: auto;
  cursor: pointer;
  width: 56px;
}

.suggestion-button {
  width: 56px;
  outline: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  height: 28px;
  background-color: #f9f9f9;
  border: 1px solid #333;
  color: #333;
  padding: 8px 12px;
  align-self: flex-end;
  margin-left: auto;
  cursor: pointer;
}

.loading-button {
  padding: 8px 12px;
}

.auto-fix-button:hover {
  /* transition: background-color 100ms ease; */
  /* background-color: #111; */
  cursor: pointer;
}

.button-sparkles {
  margin-right: 4px;
}

.loading-button.disabled {
  /* Add styles to disable clicks on the button */
  pointer-events: none;
}

.button-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  animation: scaleUpDown 0.9s infinite;
  animation-timing-function: ease-in-out;
}

.button-loading-dots .button-dot:nth-child(2) {
  animation-delay: 0.2s;
  margin: 0 3px;
}

.button-loading-dots .button-dot:nth-child(3) {
  animation-delay: 0.4s;
}

.match-button-loading .button-dot {
  background-color: #666;
}

@keyframes scaleUpDown {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(0.85);
    opacity: 1;
  }
}

.auto-fix-button-label {
  /* position: relative;
  top: -2px; */
}

.text img {
  fill: #18a0fb;
}

.badge {
  position: absolute;
  top: 6px;
  right: 12px;
  background: #fe6262;
  color: #fff;
  height: 16px;
  min-width: 16px;
  padding: 2px;
  border-radius: 32px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge.badge-em {
  padding: 2px 4px;
}

.dot {
  position: absolute;
  right: 17px;
  background: #fe6262;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: block;
}

.error-count {
  display: block;
  height: auto;
  padding: 0 4px;
  min-width: 20px;
  line-height: 20px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 32px;
  background: #fe6262;
  color: #fff;
  text-align: center;
}

.error-count.success {
  right: 16px;
  background: #55db9e;
  padding: 5px 4px;
  border-radius: 32px;
}

.list-flex-row:hover {
  border-color: #18a0fb;
}

.list-flex-row:hover .list-arrow-icon {
  opacity: 1;
}

.list-icon {
  width: 16px;
  opacity: 0.3;
}

.list-icon img {
  height: 12px;
  width: 12px;
}

.list-name {
  margin: 0 8px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 48px;
}

.sub-list {
  /* width: calc(100% - 24px); */
  margin: 0;
  padding: 0 0 0 24px;
}

.frame {
  font-weight: 400;
}

.list-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.totals-row {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  padding: 2px 16px 2px 8px;
}

.totals-row .section-title {
  flex: 1;
}

.sticky-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background: #fff;
}

.actions-row {
  padding: 16px 16px 14px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions-row button {
  margin-right: 12px;
}

.actions-row button:last-child {
  margin-right: 0;
}

/* Context menu */

.menu {
  position: relative;
}

.menu-trigger {
  display: block;
  position: relative;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-trigger:hover {
  background: #f9f9f9;
  border-radius: 16px;
  cursor: pointer;
}

.menu-trigger img {
  height: 20px;
  width: 20px;
}

.menu-items {
  position: absolute;
  right: 12px;
  top: 44px;
  width: 132px;
  border-radius: 8px;
  overflow: hidden;
}

.menu-items .select-menu__list-item {
  padding-left: 12px;
  cursor: pointer;
  /* border-radius: 4px; */
}

.select-menu__list-item {
  cursor: pointer;
}

.menu-items {
  /* padding: 8px 0 0; */
}

.select-menu__list-border {
  border-top: 2px solid #333;
  padding-top: 8px;
  padding-bottom: 6px;
  height: auto;
  margin-top: 8px;
  margin-bottom: -4px;
}
