/* Overrides */

.button--flex {
  flex: 1;
}

.button--full {
  width: 100%;
}

button:active,
button:focus {
  outline: none;
}

/* Generic styles */

.button--icon {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: unset;
  cursor: pointer;
  font-size: 18px;
  background: transparent;
}

.button--icon:hover {
  background: #eee;
}

.button--icon:active {
  transform: scale3d(0.94, 0.94, 1);
}

.w12 {
  width: 12px;
}

/* Plugin specific styles */

body {
  font: 11px sans-serif;
  font-family: system-ui;
  margin: 0;
  overflow: hidden;
}

#create {
  box-shadow: none;
  background: #18a0fb;
  color: #fff;
}

.page {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
}

.list {
  flex: 1;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.list-arrow {
  height: 32px;
  min-width: 16px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
}

.list-arrow-icon {
  opacity: 0;
  transition: opacity 50ms ease;
  transform: rotate(-90deg);
}

.list-item {
  width: 100%;
  list-style: none;
  padding: 0;
}

.list-item ul {
  display: none;
}

.list-item--selected > .list-flex-row {
  background: #daebf7;
}

.list-item--selected ul {
  background: #edf5fa;
}

.list-item--active > ul {
  display: block;
}

.list-item--active > div > .list-arrow > .list-arrow-icon {
  transform: rotate(0deg);
}

.list-flex-row {
  height: 32px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid transparent;
  transition: border-color 100ms ease;
  cursor: pointer;
  position: relative;
}

.badge {
  position: absolute;
  top: 6px;
  right: 16px;
  background: #fe6262;
  color: #fff;
  height: 16px;
  min-width: 16px;
  padding: 2px;
  border-radius: 32px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  position: absolute;
  content: "";
  right: 23px;
  background: #fe6262;
  color: #333333;
  height: 2px;
  min-width: 2px;
  padding: 2px;
  border-radius: 50%;
  line-height: 16px;
  text-align: center;
}

.list-flex-row:hover {
  border-color: #18a0fb;
}

.list-flex-row:hover .list-arrow-icon {
  opacity: 1;
}

.list-icon {
  text-align: center;
  width: 16px;
  opacity: 0.6;
}

.list-icon img {
  height: 12px;
  width: 12px;
}

.list-name {
  margin: 0 8px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 48px;
}

.sub-list {
  /* width: calc(100% - 24px); */
  margin: 0;
  padding: 0 0 0 24px;
}

.frame {
  font-weight: 400;
}

.list-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.totals-row {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  padding: 0 16px 0 8px;
}

.totals-row .section-title {
  flex: 1;
}

.error-count.success {
  right: 16px;
  background: #55db9e;
  padding: 5px 4px;
  border-radius: 32px;
}

.actions-row {
  padding: 12px 16px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
